.login-form {
  margin:0 auto;
  margin-top: 40px;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.reg-form{
  margin:0 auto;
  max-width: 300px;
}
.div_tab {
	margin:50px auto;
	max-width: 300px;
	max-height: 500px;
}
